@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,500i|Roboto');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-size: 18px;
	background-color: #D6D0D0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

label {
	display: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	vertical-align: middle;
	z-index: 998;
}

form label {
	display: inline;
}

header {
	height: 400px;
	background-color: #FFF;
  	width: 100%;
  	/*overflow: hidden;*/
  	position: fixed;
  	z-index: 999;

  	-webkit-transition: ease-in-out 0.3s;
  	-moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s; 
}

header.smaller {
	height: 80px;
}

header.smaller #headerlogo {
	margin: 0;
	height: 150px;

	-webkit-transition: ease-in-out 0.3s;
  	-moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s; 
}

header.smaller #headerbyline {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s, opacity 0.3s linear;
}

nav {
	display: inline;
}

footer {
	height: 80px;
	background-color: 
}

.navlinks {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	text-decoration: none;
	margin: 1em;
	float: right;
	color: #444;

	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 02s;
	transition: 0.2s; 
}

.navlinks:hover {
	color: #88d1f4;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 3em;
	text-align: center;
	color: #444;
	margin: 3em;
	margin-bottom: 1em;
	padding: 10px;
	display: inline-block;
	width: 40%;

	border-style: solid;
	border-width: .1em;
	border-color: #444;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 3em;
	color: #444;
	text-align: left;
	margin-bottom: .6em;
} 

h3 {	
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	text-align: center;
	margin: 1em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	text-align: left;
}

table {
	margin: 0 auto;
}

input {
	font-size: 1em;
	padding: .3em;
	margin: .5em;
	color: #444;
}

textarea {
	/*height: 6em;*/
	font-size: 1em;
	padding: .3em;
	margin: .5em;
	color: #444;
}

tr {
	width: 80%;
}

td {
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	color: #444;
	padding: 3px;
	font-size: 1em;
	margin-top: 10px;
}


/* - - - - - Mobile Hamburger Menu - - - - - */
.mobile_toggle {
	display: none;
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	vertical-align: middle;
	z-index: 999;
}
#toggle {
	display: none;
}
.line {
	width: 20px;
	height: 3px;
	background: #FFF;
	margin: 2px 0;
}
/* - - - - - - - - - - - - - - - - - - - - - */

#main {
	background-image: url("../images/goldengate.jpg");
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 1200px;
}

#mainh1 {
	background-color: #fff;    
	width: 40%;
	border-style: solid;
	border-color: #444;
	border-width: .3em;
    padding: 40px;
    position: absolute;
    top: 600px;
    left: 30%;
}

#mainh1 p {
	font-size: 1.3em;
	color: #444;
	line-height: 2em;
}

#ourwork {
	background-color: #fff;
}

#about {
	background-color: #fff;
}

#contact {
	background-color: #fff;
}

#contactsection {
	background-image: url('../images/contactbg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	padding: 8em 0;
}

#contactform {
	background-color: #fff; 
    width: 50%;
    margin: 0 auto;   
	padding: 2em;
    border-radius: 10px;
}

#headerlogo {
	height: 370px;
	margin: 1%;
	float: left;

	-webkit-transition: ease-in-out 0.3s;
  	-moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

#headergroup {
	float: left;
}

#headerslogan {
	margin: 1em;
	border-style: none;
	width: initial;
	padding: 0;

	font-size: 1.6em;
	font-weight: 500;
	color: #88d1f4;
}
#headerbyline {
	margin: 0 1em;
	padding: 0;
	font-size: 1.3em;
	display: block;
	visibility: visible;
	opacity: 1;
    color: #f7c936;
}

.h1container {
	width: 100%;
	text-align: center;
}

#aboutblocks {
	text-align: center;
}

.shapeblocks {
	width: 20%;
	max-width: 400px;
	height: 300px;
	margin: 20px;
	background-color: #88d1f4;

	display: inline-block;
}

.subblock {
	background-color: white;
	margin: 1em;
    padding: 2em;
    height: 75%;
    overflow: hidden;
}

.subblock p {
	text-align: center;
}

.banner-container {
	width: 100%;
	padding: 70px 0;
}
.banner-slider {
	width: 100%;
}

.slidecontent img {
	width: 100%;
	padding: 10px;
}

#workdescription {
	text-align: center;
	margin: 2em;
}

.workblocks {
	width: 30%;
	max-width: 500px;
	display: inline-block;
	margin: 2em;
	vertical-align: top;
}

.italic {
	font-style: italic;
}